# Arquivos de configuração sensíveis
.env
*.env

# Build e dependências
target/
build/
out/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.swp
*.swo
*.bak

# Configurações específicas de IDEs
# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
